/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	margin: 1rem;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}
body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;

	font-size: 17px;
	padding: 8px;
}

* {
	box-sizing: border-box;
}

header {
	display: flex;
	background-color: rgb(234, 119, 230);
	justify-content: center;
	align-items: center;
	min-height: 8rem;

}

footer {
	display: flex;
	background-color: rgbA(234, 119, 230, .5);
	justify-content: center;
	align-items: center;
	min-height: 4rem;
}

#title {
	color: white;
	font-size: 3rem;
}

ul {
	display: flex;
	list-style: none;
	justify-content: center;
	min-width: 

}

li {
	padding: .5rem 2rem;
	text-align: center;

}

main {
	display: flex;
	flex-direction: column;
	align-items: center;

}

button {
	border: none;
	background-color: orange;
	color: white;
	font-weight: bold;
	border-radius: 0.25rem;
	padding: 0rem 2rem;
	max-width: fit-content;
}
span {
	font-size: 3rem;
}
#top-nav{
	display: block;
	background-color: rgb(245, 195, 71);
	max-height: 4rem;;
	margin-top: .5rem;
	margin-bottom: 2rem;
}

.bottom-nav{

}

img{
	width: 50%;
	margin: 1rem;
}